body {
	background-color: #f1f2f2;
	color: #414042;
}

header, main, footer {
	width: 80%;
	background-color: white;
	margin: auto;
	padding: 5%;
}

article {
	width: 80%;
}

aside {
	width: 20%;
}

header {
	padding-top: 2%;
}

main {
	margin: 3% auto;
}

footer {
	text-align: center;
	color: #939598;
	padding: 1% 5%;
}
